@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700i|Leckerli+One|Montserrat:400,700,700i,900");
.b-WhoWeAre__inside, .b-WhatIDo__inside, .b-client__inside {
  padding: 20px;
  box-sizing: border-box; }

.b-blog__house, .b-blog__blueBlock, .b-blog__greyBlock, .b-blog__blackBlock, .b-blog__pinkBlock {
  padding: 40px;
  box-sizing: border-box; }

.b-helloWrap__title, .b-WhoWeAre__title, .b-WhatIDo__title, .b-iMakeThinks__title, .b-client__title, .b-blog__title, .b-footer__title {
  font-family: "Leckerli One", cursive;
  font-size: 33px;
  letter-spacing: 0.8px;
  color: #ffffff; }

.b-header {
  background-image: url(../images/backgrounds/ofice.png);
  background-size: cover;
  background-position: center center;
  height: 942px; }
  .b-header__inside {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative; }
    @media all and (min-width: 0) and (max-width: 1239px) {
      .b-header__inside {
        width: 100%;
        margin: 0 0; } }

.b-navAndLogo {
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media all and (min-width: 0) and (max-width: 767px) {
    .b-navAndLogo {
      flex-direction: column; } }

.b-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-decoration: none;
  display: block; }
  .b-logo__desc {
    color: #007ef9; }
  @media all and (min-width: 0) and (max-width: 767px) {
    .b-logo {
      margin: 15px 0; } }

.b-mainNav__link {
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #ffffff; }
  .b-mainNav__link:hover {
    color: #007ef9; }
  @media all and (min-width: 0) and (max-width: 767px) {
    .b-mainNav__link {
      padding: 5px; } }

.b-helloWrap__title {
  margin-bottom: 32px; }
.b-helloWrap__caption {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 41.5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 62px; }
  .b-helloWrap__captionName {
    font-size: 41.5px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #007ef9; }
  .b-helloWrap__captionCeo {
    font-size: 30px;
    letter-spacing: 0.8px;
    line-height: 1.6; }
.b-helloWrap__text {
  width: 560px;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-bottom: 84px; }
  @media all and (min-width: 0) and (max-width: 767px) {
    .b-helloWrap__text {
      width: auto; } }
.b-helloWrap__link {
  display: block;
  width: 129px;
  height: 36px;
  line-height: 36px;
  border-radius: 15px;
  background-color: #00aeed;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  text-decoration: none; }
.b-helloWrap_decoration {
  position: absolute;
  top: 284px; }

.b-imgHeader {
  position: absolute;
  top: 170px;
  right: 0px;
  display: block; }
  @media all and (min-width: 0) and (max-width: 1199px) {
    .b-imgHeader {
      display: none; } }

.b-WhoWeAre {
  background-color: #007ef9; }
  .b-WhoWeAre__inside {
    width: 1200px;
    margin: 0 auto; }
    @media all and (min-width: 0) and (max-width: 1239px) {
      .b-WhoWeAre__inside {
        width: 100%;
        margin: 0 0; } }
  .b-WhoWeAre__title_decoration {
    margin-bottom: 41px; }
  .b-WhoWeAre__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 130px; }
    @media all and (min-width: 0) and (max-width: 991px) {
      .b-WhoWeAre__grid {
        grid-template-columns: 1fr; } }
  .b-WhoWeAre__textOne {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    line-height: 1.76;
    letter-spacing: 0.4px;
    color: #ffffff; }
  .b-WhoWeAre__headline {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffffff; }
    .b-WhoWeAre__headline_decoration {
      margin-bottom: 23px; }
  .b-WhoWeAre__textTwo {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    line-height: 1.76;
    letter-spacing: 0.4px;
    color: #ffffff; }
  .b-WhoWeAre__link {
    display: block;
    width: 129px;
    height: 36px;
    line-height: 36px;
    border-radius: 15px;
    background-color: #3b4374;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    text-decoration: none; }
    .b-WhoWeAre__link_decoration {
      margin-top: 45px; }

.b-WhatIDo {
  background-color: #007ef9; }
  .b-WhatIDo__inside {
    width: 1200px;
    margin: 0 auto; }
    @media all and (min-width: 0) and (max-width: 1239px) {
      .b-WhatIDo__inside {
        width: 100%;
        margin: 0 0; } }
  .b-WhatIDo__title_decoration {
    margin-bottom: 21px;
    text-align: center; }
  .b-WhatIDo__caption {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0.9px;
    color: #ffffff; }
    .b-WhatIDo__caption_decoration {
      margin-bottom: 77px;
      text-align: center; }
  .b-WhatIDo__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 89px; }
    @media all and (min-width: 0) and (max-width: 991px) {
      .b-WhatIDo__grid {
        grid-template-columns: 1fr;
        grid-row-gap: 20px; } }
  .b-WhatIDo__infoWrap {
    padding-left: 95px; }
    .b-WhatIDo__infoWrap:nth-child(1) {
      background: url(../images/icons/VectorSmartObject1.png) no-repeat left top; }
    .b-WhatIDo__infoWrap:nth-child(2) {
      background: url(../images/icons/VectorSmartObject2.png) no-repeat left top; }
    .b-WhatIDo__infoWrap:nth-child(3) {
      background: url(../images/icons/VectorSmartObject3.png) no-repeat left top; }
  .b-WhatIDo__subject {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    color: #ffffff;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 0.4px;
    text-transform: uppercase; }
    .b-WhatIDo__subject_decoration {
      margin-bottom: 23px; }
  .b-WhatIDo__desc {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #ffffff; }

.b-iMakeThinks {
  background-color: #ffffff; }
  .b-iMakeThinks__inside {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 0; }
    @media all and (min-width: 0) and (max-width: 1239px) {
      .b-iMakeThinks__inside {
        width: 100%;
        margin: 0 0; } }
  .b-iMakeThinks__title {
    color: #575757; }
    .b-iMakeThinks__title_decoration {
      text-align: center;
      margin-bottom: 5px; }
  .b-iMakeThinks__caption {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0.9px;
    color: #000000; }
    .b-iMakeThinks__caption_decoration {
      text-align: center;
      margin-bottom: 66px; }
  .b-iMakeThinks__grid {
    background-color: #000000;
    display: grid;
    grid-template-areas: "businesscard businesscard brochure profile" "solution envelops brochure ad"; }
    @media all and (min-width: 0) and (max-width: 991px) {
      .b-iMakeThinks__grid {
        grid-template-areas: "businesscard businesscard" "solution envelops" "brochure profile" "brochure ad"; } }
  .b-iMakeThinks__businesscard {
    grid-area: businesscard;
    width: 100%; }
  .b-iMakeThinks__brochure {
    grid-area: brochure;
    width: 100%; }
  .b-iMakeThinks__profile {
    grid-area: profile;
    width: 100%; }
  .b-iMakeThinks__solution {
    grid-area: solution;
    width: 100%; }
  .b-iMakeThinks__envelops {
    grid-area: envelops;
    width: 100%; }
  .b-iMakeThinks__ad {
    grid-area: ad;
    width: 100%; }

.b-client {
  background: url(../images/backgrounds/mountains.png);
  background-size: cover;
  background-position: center center; }
  .b-client__inside {
    width: 1200px;
    margin: 0 auto; }
    @media all and (min-width: 0) and (max-width: 1239px) {
      .b-client__inside {
        width: 100%;
        margin: 0 0; } }
  .b-client__title_decoration {
    text-align: center;
    margin-bottom: 21px; }
  .b-client__caption {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0.9px;
    color: #ffffff; }
    .b-client__caption_decoration {
      text-align: center;
      margin-bottom: 29px; }
  .b-client__text {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    line-height: 1.76;
    letter-spacing: 0.4px;
    color: #ffffff; }
    .b-client__text_decoration {
      text-align: center;
      margin-bottom: 118px; }
  .b-client__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center; }
    @media all and (min-width: 992px) and (max-width: 1199px) {
      .b-client__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px; } }
    @media all and (min-width: 0) and (max-width: 991px) {
      .b-client__grid {
        grid-template-columns: 1fr;
        grid-row-gap: 20px; } }

.b-blog__inside {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0; }
  @media all and (min-width: 0) and (max-width: 1239px) {
    .b-blog__inside {
      width: 100%;
      margin: 0 0; } }
.b-blog__grid {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "iWrite iWrite house house" "blueBlock blueBlock house house" "greyBlock blackBlock pinkBlock pinkBlock"; }
  @media all and (min-width: 0) and (max-width: 1199px) {
    .b-blog__grid {
      grid-template-areas: "iWrite iWrite" "blueBlock blueBlock" "greyBlock blackBlock" "house house" "house house" "pinkBlock pinkBlock"; } }
.b-blog__iWrite {
  grid-area: iWrite; }
.b-blog__title {
  color: #575757; }
  .b-blog__title_decoration {
    margin-bottom: 4px; }
.b-blog__caption {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  color: #000000; }
  .b-blog__caption_decoration {
    margin-bottom: 49px; }
.b-blog__desc {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.4px;
  color: #3b3b3b; }
.b-blog__house {
  grid-area: house;
  background: url(../images/backgrounds/house.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
.b-blog__data {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #ffffff; }
  .b-blog__data_decoration {
    text-align: center; }
.b-blog__heading {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.8px; }
  .b-blog__heading_decoration {
    margin-bottom: 15px;
    text-align: center; }
.b-blog__text {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #ffffff; }
  .b-blog__text_decoration {
    text-align: center; }
  .b-blog__text_docorationPink {
    text-align: justify;
    margin-top: 30px; }
.b-blog__blueBlock {
  grid-area: blueBlock;
  background: #007ef9;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.b-blog__greyBlock {
  grid-area: greyBlock;
  background: #b9b8b8;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.b-blog__data2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #353535; }
.b-blog__caption2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.8px;
  color: #353535; }
  .b-blog__caption2_decoration {
    text-align: center; }
.b-blog__blackBlock {
  grid-area: blackBlock;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.b-blog__pinkBlock {
  grid-area: pinkBlock;
  background: #E91D62; }

.b-footer {
  background: url(../images/backgrounds/media.png);
  background-position: center center;
  background-size: cover; }
  .b-footer__inside {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0; }
    @media all and (min-width: 0) and (max-width: 1239px) {
      .b-footer__inside {
        width: 100%;
        margin: 0 0; } }
  .b-footer__title_decoration {
    margin-bottom: 35px; }
  .b-footer__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media all and (min-width: 0) and (max-width: 1199px) {
      .b-footer__wrap {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-row-gap: 50px; } }

.b-addressInfoBlock__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  color: #ffffff; }
  .b-addressInfoBlock__heading_decoration {
    margin-bottom: 91px; }
  @media all and (min-width: 768px) and (max-width: 1199px) {
    .b-addressInfoBlock__heading {
      width: 460px; } }
.b-addressInfoBlock__wrap {
  padding-left: 105px; }
  .b-addressInfoBlock__wrap:not(:last-child) {
    margin-bottom: 30px; }
  .b-addressInfoBlock__wrap:nth-child(1) {
    background: url(../images/icons/Icon2.png) no-repeat left top; }
  .b-addressInfoBlock__wrap:nth-child(2) {
    background: url(../images/icons/Icon3.png) no-repeat left top; }
  .b-addressInfoBlock__wrap:nth-child(3) {
    background: url(../images/icons/Icon1.png) no-repeat left top; }
.b-addressInfoBlock__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #ffffff; }
  .b-addressInfoBlock__subtitle_decoration {
    margin-bottom: 16px; }
.b-addressInfoBlock__link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-decoration: none; }
.b-addressInfoBlock__tel {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #ffffff; }
  .b-addressInfoBlock__tel_decoration {
    margin-bottom: 10px; }
.b-addressInfoBlock__street {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #ffffff;
  line-height: 1.5; }

.b-formBlock__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.9px;
  color: #ffffff; }
  .b-formBlock__heading_decoration {
    margin-bottom: 91px; }
.b-formBlock__forms {
  display: table; }
.b-formBlock__row {
  display: table-row; }
.b-formBlock__cell {
  display: table-cell;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  letter-spacing: 0.4px;
  color: #ffffff;
  padding-bottom: 17px; }
  .b-formBlock__cell:first-child {
    padding-right: 28px;
    vertical-align: top; }
.b-formBlock__input {
  width: 359px;
  height: 34px;
  border-radius: 15px;
  background-color: #2b2b2b;
  border: none;
  outline: none;
  padding: 0 10px;
  box-sizing: border-box;
  color: #ffffff; }
  @media all and (min-width: 0) and (max-width: 767px) {
    .b-formBlock__input {
      width: auto; } }
.b-formBlock__textarea {
  width: 359px;
  height: 78px;
  border-radius: 15px;
  background-color: #2b2b2b;
  border: none;
  outline: none;
  padding: 10px 10px;
  box-sizing: border-box;
  color: #ffffff; }
  @media all and (min-width: 0) and (max-width: 767px) {
    .b-formBlock__textarea {
      width: auto; } }
.b-formBlock__btn {
  display: block;
  width: 129px;
  height: 36px;
  line-height: 36px;
  border-radius: 15px;
  background-color: #007ef9;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  text-decoration: none; }

.b-socialBlock {
  padding: 100px 0; }
  .b-socialBlock__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .b-socialBlock__list {
    width: 57px;
    height: 56px;
    border: solid 3px #ffffff;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px; }
    @media all and (min-width: 0) and (max-width: 767px) {
      .b-socialBlock__list {
        margin: 10px; } }
  .b-socialBlock__link {
    font-size: 25px;
    color: #ffffff; }

.b-copyrightBlock__site {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  letter-spacing: 0.4px;
  color: #ffffff; }
  .b-copyrightBlock__site_decoration {
    text-align: center;
    margin-bottom: 29px; }
.b-copyrightBlock__copyright {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  letter-spacing: 0.4px;
  color: #ffffff; }
  .b-copyrightBlock__copyright_decoration {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
