.b-blog {

    &__inside {
        // width: 1280px;
        // margin: 0 auto;
        @include insideWrapMixin;
        padding: 50px 0;
    }

    &__grid {
        display: grid;
        // grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        grid-template-areas:
            "iWrite iWrite house house"
            "blueBlock blueBlock house house"
            "greyBlock blackBlock pinkBlock pinkBlock";

        @include customRespond($xxsFrom, $mdTo) {
            grid-template-areas:
                "iWrite iWrite"
                "blueBlock blueBlock"
                "greyBlock blackBlock"
                "house house"
                "house house"
                "pinkBlock pinkBlock";
        }
    }

    // 1 block
    &__iWrite {
        grid-area: iWrite;
    }

    &__title {
        @extend %LeckerliOneSubtitle;
        color: $Scorpion;

        &_decoration {
            margin-bottom: 4px;
        }
    }

    &__caption {
        font-family: $Montserrat;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 0.9px;
        color: $Black;

        &_decoration {
            margin-bottom: 49px;
        }
    }

    &__desc {
        font-family: $Lato;
        font-size: 17px;
        line-height: 1.76;
        letter-spacing: 0.4px;
        color: $MineShaft;
    }

    // 2 block
    &__house {
        grid-area: house;
        @extend %BlogPading;
        background: url(../images/backgrounds/house.png);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__data {
        font-family: $Lato;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: $colorWhite;

        &_decoration {
            text-align: center;
        }
    }

    &__infoHouse {}

    &__heading {
        font-family: $Montserrat;
        color: $colorWhite;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 0.8px;

        &_decoration {
            margin-bottom: 15px;
            text-align: center;
        }
    }

    &__text {
        font-family: $Lato;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: $colorWhite;

        &_decoration {
            text-align: center;
        }

        &_docorationPink {
            text-align: justify;
            margin-top: 30px;
        }
    }

    // 3 block
    &__blueBlock {
        grid-area: blueBlock;
        @extend %BlogPading;
        background: $AzureRadiance;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    // 4 block
    &__greyBlock {
        grid-area: greyBlock;
        @extend %BlogPading;
        background: $Silver;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__data2 {
        font-family: $Lato;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: $MineBlack;
    }

    &__caption2 {
        font-family: $Montserrat;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 0.8px;
        color: $MineBlack;

        &_decoration {
            text-align: center;
        }
    }

    // 5 block
    &__blackBlock {
        grid-area: blackBlock;
        @extend %BlogPading;
        background: $Black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // 6 block
    &__pinkBlock {
        grid-area: pinkBlock;
        @extend %BlogPading;
        background: $Amaranth;
    }
}