.b-footer {
    background: url(../images/backgrounds/media.png);
    background-position: center center;
    background-size: cover;

    &__inside {
        width: 1280px;
        margin: 0 auto;
        padding: 50px 0;
    }
    
    &__title {
        @extend %LeckerliOneSubtitle;
        
        &_decoration {
            margin-bottom: 35px;
        }
    }
    
    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
