.b-header {
    background-image: url(../images/backgrounds/ofice.png);
    background-size: cover;
    background-position: center center;
    height: 942px;

    &__inside {
        // width: 1280px;
        @include insideWrapMixin;
        // margin: 0 auto;
        padding: 0 $standartPadding;
        box-sizing: border-box;
        position: relative;
    }
}