.b-helloWrap {

    &__title {
        font-family: $LeckerliOne;
        font-size: 33px;
        letter-spacing: 0.8px;
        color: $colorWhite;
    }
    
    &__caption {}
    
    &__text {}
    
    &__link {}
}
