.b-iMakeThinks {
    background-color: $colorWhite;

    &__inside {
        width: 1280px;
        margin: 0 auto;
        padding: 50px 0 0;
    }

    &__title {
        @extend %LeckerliOneSubtitle;
        color: $Scorpion;
        
        &_decoration {
            text-align: center;
            margin-bottom: 5px;
        }
    }

    &__caption {
        font-family: $Montserrat;
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 0.9px;
        color: $Black;
        
        &_decoration {
            text-align: center;
            margin-bottom: 66px;
        }
    }
    
    &__grid {
        background-color: $Black;
        display: grid;
        grid-template-areas: 
            "businesscard businesscard brochure profile"
            "solution envelops brochure ad"
    }
    
    &__businesscard {
        grid-area: businesscard;
        width: 100%;
    }
    
    &__brochure {
        grid-area: brochure;
        width: 100%;
    }
    
    &__profile {
        grid-area: profile;
        width: 100%;
    }
    
    &__solution {
        grid-area: solution;
        width: 100%;
    }
    
    &__envelops {
        grid-area: envelops;
        width: 100%;
    }
    
    &__ad {
        grid-area: ad;
        width: 100%;
    }
}
