.b-mainNav {
    
    &__link {
        display: inline-block;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $Lato;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.4px;
        color: $colorWhite;
        
        &:hover {
            color: $AzureRadiance;
        }
    }
}