.b-navAndLogo {
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include customRespond($xxsFrom, $xsTo) {
        flex-direction: column;
    }
}