@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i|Leckerli+One|Montserrat:400,700,700i,900');

$Montserrat: 'Montserrat',
sans-serif;
$Lato: 'Lato',
sans-serif;
$LeckerliOne: 'Leckerli One',
cursive;

$colorWhite: #ffffff;
$AzureRadiance: #0081ff;
$Cerulean: #00aeed;
$EastBay: #3b4374;
$Scorpion: #575757;
$Black: #000000;
$MineShaft: #3b3b3b;
$MineShaftBlack: #2b2b2b;
$MineBlack: #353535;
$AzureRadiance: #007ef9;
$Silver: #b9b8b8;
$Amaranth: #E91D62;

%StadartPading {
    padding: 20px;
    box-sizing: border-box;
}

%BlogPading {
    padding: 40px;
    box-sizing: border-box;
}

//example
//%baseBlock {
//  background: #ccc;
//  font-size: 1.2rem;
//  color: #333;
//}
//@extend %baseBlock;

//@mixin bodyStyles {
//  width: 100%;
//  height: 100%;
//  margin: 0;
//  padding: 0;
//  background: #74abcc;
//}
//@include bodyStyles;

%LeckerliOneSubtitle {
    font-family: $LeckerliOne;
    font-size: 33px;
    letter-spacing: 0.8px;
    color: $colorWhite;
}

@mixin btn($_backCol) {
    display: block;
    width: 129px;
    height: 36px;
    line-height: 36px;
    border-radius: 15px;
    background-color: $_backCol;
    font-family: $Lato;
    font-size: 15px;
    letter-spacing: 0.4px;
    text-align: center;
    color: $colorWhite;
    text-decoration: none;
}

@mixin respondTo($_media) {
    @if $_media==phones {
        @media all and (max-width: 479px) {
            @content;
        }
    }

    @else if $_media==wide-phones {
        @media all and (min-width: 480px) and (max-width: 767px) {
            @content;
        }
    }

    @else if $_media==tablets {
        @media all and (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @else if $_media==small-desktops {
        @media all and (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $_media==lg-desktops {
        @media all and (min-width: 1200px) and (max-width: 1440px) {
            @content;
        }
    }

    @else if $_media==xlg-desktops {
        @media all and (min-width: 1441px) and (max-width: 1920px) {
            @content;
        }
    }
}

$xxsFrom: 0;
$xxsTo: 479px;
$xsFrom: 480px;
$xsTo: 767px;
$smFrom: 768px;
$smTo: 991px;
$mdFrom: 992px;
$mdTo: 1199px;
$lgFrom: 1200px;

@mixin customRespond($_minWidth, $_maxWidth) {
    @media all and (min-width: $_minWidth) and (max-width: $_maxWidth) {
        @content;
    }
}

$standartPadding: 20px;
$standartGap: 20px;

@mixin insideWrapMixin {
    width: 1200px;
    margin: 0 auto;

    @include customRespond(0, (1200px + $standartPadding*2) - 1) {
        width: 100%;
        margin: 0 0;
    }
}