@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i|Leckerli+One|Montserrat:400,700,700i,900');

$Montserrat: 'Montserrat', sans-serif;
$Lato: 'Lato', sans-serif;
$LeckerliOne: 'Leckerli One', cursive;

$colorWhite: #ffffff;
$AzureRadiance: #0081ff;
