@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i|Leckerli+One|Montserrat:400,700,700i,900');

$Montserrat: 'Montserrat',
sans-serif;
$Lato: 'Lato',
sans-serif;
$LeckerliOne: 'Leckerli One',
cursive;

$colorWhite: #ffffff;
$AzureRadiance: #0081ff;
$Cerulean: #00aeed;
$EastBay: #3b4374;
$Scorpion: #575757;
$Black: #000000;
$MineShaft: #3b3b3b;
$MineBlack: #353535;
$AzureRadiance: #007ef9;
$Silver: #b9b8b8;
$Amaranth: #E91D62;

%StadartPading {
    padding: 50px;
    box-sizing: border-box;
}

%BlogPading {
    padding: 40px;
    box-sizing: border-box;
}

//example
//%baseBlock {
//  background: #ccc;
//  font-size: 1.2rem;
//  color: #333;
//}
//@extend %baseBlock;

//@mixin bodyStyles {
//  width: 100%;
//  height: 100%;
//  margin: 0;
//  padding: 0;
//  background: #74abcc;
//}
//@include bodyStyles;

%LeckerliOneSubtitle {
    font-family: $LeckerliOne;
    font-size: 33px;
    letter-spacing: 0.8px;
    color: $colorWhite;
}

@mixin btn($_backCol) {
    display: block;
    width: 129px;
    height: 36px;
    line-height: 36px;
    border-radius: 15px;
    background-color: $_backCol;
    font-family: $Lato;
    font-size: 15px;
    letter-spacing: 0.4px;
    text-align: center;
    color: $colorWhite;
    text-decoration: none;
}
